/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/* 
1. Vị trí
2. Kích thước (width,height)
3. Màu sắc
4. Kiểu dáng (Kiểu chữ, hình tròn, vuông,...)
 */

 /* Common */
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}



/* main */
#main{

}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}
#nav {
    display: inline-block;
}

#nav, .subnav{
    list-style: none;
}

#nav > li {
    display: inline-block;
}

#nav li{
    position: relative;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a{    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a{
    color: #000;
    background-color: #ccc;

}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px #7a7a7a ;
}
#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    min-width: 160px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/PJ_The_Band/assets/img/slider_img.jpg') top center / cover no-repeat;

}
#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;

}

#content{

}

#content .content-section{
    width: 800px;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.5;
}

#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-list{
    margin-top: 48px;
    overflow: hidden;
}

#content .member-item{
    float: left;
    width: calc(100%/3);
    text-align: center;
}

#content .member-name{
    font-size: 15px;
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 8px;
}

/* Tour section */
.tour-section{
    background-color: #000;
}

.tour-section > .content-section > .section-heading,
.tour-section > .content-section > .section-sub-heading{
    color: #fff;
}

.ticket-list{
    background-color: #fff;
    margin-top: 45px;
    list-style: none;
}

.ticket-list > li {
    color: #757575;
    font-size: 15px;
    padding: 11px   16px;
    border-bottom: 1px solid #ddd;
    
}

.ticket-list .sold-out{
    color: #fff;
    background-color:#f44336 ;
    padding: 3px 4px;
    margin-left: 16px;

}

.ticket-list .remaining-ticket{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* Tour places */
.place-list{
    overflow: hidden;
    margin-top: 32px;
}

.place-item{
    width: calc(100%/3);
}

.place-img{
     width: 100%; /* Để hình ảnh nằm gọn trong width của thẻ cha */
     display: block;

}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    line-height: 1.4;
}
.place-heading{
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-description{
    margin-top: 15px;

}
.place-buy-button{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 16px;
    border: none;
    cursor: pointer;
}
.place-buy-button:hover{
    color: #000;
    background-color: #ccc;
}

/* Contact */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    margin-bottom: 16px;
    display: block;
    padding: 12px;
    border: 1px solid #ccc;
    width: 100%;
}
.form-submit-button{
    display: block;
    font-size: 15px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 16px;
    float: right;
}
.form-submit-button:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

/* Map section */
.map-section img{
    width: 100%;
}
#footer{
    padding: 64px 16px;
    text-align: center;

}
.socials-icon{
    font-size: 20px;
    opacity: 0.7;
    color: #000 ;
    margin-bottom: 16px;
}
.socials-icon a{
    text-decoration: none;
    color: #000 ;
}
.copyright{
    font-size: 14px;
    opacity: 0.7;
    color: #000 ;
}
.copyright a{
    color: #000 ;
}
.socials-icon a:hover,
.copyright a:hover{
    opacity: 0.7;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease .5s;
}
header.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    font-size: 12px;
    opacity: 0.8;
}
.modal-close:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
    opacity: 1;
}
.ti-bag{
    margin-right: 16px;
}
.modal-body{
    padding: 16px;
}
.modal-lable{
    display: block;
    font-size: 16px;
    padding-bottom: 16px;
}
.modal-input{
    margin-bottom: 16px;
    display: block;
    padding: 12px;
    border: 1px solid #ccc;
    width: 100%;
}
#buy-button{
    width: 100%;
    background-color: #009688;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding: 16px;
    color: #fff;
    border-style: none;
}
#buy-button:hover{
    opacity: 0.9;
    cursor: pointer;
}
.modal-footer{
   padding: 16px;
   text-align: right;
}
.modal-help > a{
    color: #2196f3;
}
.open{
    display: flex;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
    
}
